.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 23.875rem;
  background: #eff0f7;
  border-radius: 0.75rem;
  height: 4rem;
  border: none;
  font-size: 1rem;
  color: #a0a3bd;
  font-family: "Raleway";
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  outline: none;
}